a{text-decoration:none}
a:hover{text-decoration:underline}
body,h2,p,ul,li,form,button,input,textarea,div{
	font-family: Tahoma,Simsun,宋体;
	text-align: left;
	font-size: 14px;
	margin: 0;
	padding: 0;
	list-style: none
}
#wrap{width:100%;min-width:960px;}
#header,#footer,.container,.taps3{width:960px;margin:0px auto 5px}
.content{width:100%}
.top{width:100%;font-size:12px;z-index:9;clear:both;position:relative;margin-bottom:5px;float:left;padding:6px 0 3px}
.tC{width:440px;float:left}
.tR{width:240px;float:right;color:#8B8C8C}
.in1{color:#656666;width:100%;float:left;padding:5px 0}
.in1,.in2{width:100%;clear:both;font-size:12px;color:#656666}
.tR p{text-align:right;font-size:12px;padding-top:5px}
.searchBox{
	border: 1px solid #9BCBF6;
	padding-top: 10px;
	background: #ECF7FF;
	height: 52px;
	width: 99.8%;
}
.tab{
	padding-left: 20px;
	height: 24px;
	line-height: 20px;
	clear: both;
	margin: 5px auto 0
}
.tab strong{
	width: 56px;
	float: left;
	position: relative;
	padding-top: 3px;
	height: 20px;
	text-align: center;
	font-weight: 400;
	cursor: pointer;
	margin: 0 2px;
}
.tab strong.bStyle{width:58px;color:#000;height:21px;font-weight:700;cursor:auto;z-index:1;bottom:-2px;background-repeat:no-repeat;background-position:-106px -140px;margin:-2px 0 0}
.tab span{
	float: left;
	color: #656666;
	font-size: 12px;
	padding-right: 5px;
}
.search{width: 96%;clear: both;position: relative;z-index: 8;margin: auto;}
.search input{text-align:center;vertical-align:middle}
.tR form{text-align:right;margin-top:5px;font-size:12px;line-height:14px;color:#656666}
.login{
	font-size: 12px;
	float: right;
	color: #656666;
	width: 200px
}
.login b{color:#0756A4}
.tR input.lg{color:#989898;font-size:12px;width:70px;padding:1px 5px}
.tR select{width:90px;font-size:12px}
.login input,.login select{vertical-align:text-middle;text-align:center}
.tR input.dl{width:100px;line-height:1.4;font-size:14px;height:25px;text-align:center;padding:0}
.logo strong{font-size:14px}
.seBox{float: left;display: block;height: 32px;width: 600px;}
.seBtn{
	width: 84px;
	height: 29px;
	font-size: 14px;
	color: #000;
	cursor: pointer;
	margin-left: 5px;
	display: inline
}
.select{padding-left:84px;font-size:12px;clear:both}
.select input{vertical-align:middle;height:22px;margin-right:3px;display:inline}
.select label{padding-right:5px}
.keyText{width:380px;line-height:160%;position:absolute;right:-25px;font-size:12px;top:-7px}
.keyText strong{font-size:12px;color:#F39800}
.keyText td{height:88px;vertical-align:middle}
.search a{font-size:12px;padding-right:10px}
.search input.i{
	width: 360px;
	font-size: 14px;
	background: #fff;
	border: solid 1px #A5ACB2;
	text-align: left;
	padding: 4px
}
.gj,.zx{background:#F3FAFF;border:1px solid #ACE;float:left;margin-bottom:5px}
.gj{margin-bottom:5px;width:226px}
.zx{height:92px;margin-top:0}
h2.gg{height:14px;overflow:hidden;padding:7px 0 6px 12px}
h2.gg span{float:right;font-weight:400;padding-right:13px;font-size:12px}
.g{width:226px;border-bottom:1px solid #ace;overflow:hidden}
ul.taba{width:100%;float:left;padding-bottom:6px}
ul.taba li{float:left;width:54px;overflow:hidden;text-align:center;font-size:14px;cursor:pointer;padding:4px 0 3px}
#query2{width:55px}
ul.taba li.at1{font-weight:700;border-bottom:none;padding-bottom:3.3px}
#query1{width:115px}
#query3{border-right:none}
.z{line-height:30px;padding-left:6px;color:#07519A;float:left;overflow:hidden;height:57px;background-color:#F3FAFF}
.z1{line-height:30px;padding-left:12px;color:#178517;float:left;overflow:hidden;height:57px;width:210px;background-color:#F3FAFF}
input.inp1{width:71px;font-size:12px;margin:0 3px;padding:1px 1px 1px 3px}
input.inp2{width:80px;font-size:12px;color:#666;height:16px;padding:1px 0 0 1px}
input.zkj{width:70px}
p.ts{float:left;color:#656666;font-size:12px;display:block;width:97%;text-align:center}
.ad{width:722px;float:right;margin-bottom:0}
.ad a{display:block;float:left;text-align:center;margin-top:0;margin-bottom:0;line-height:12px;padding-top:1px;padding-right:5px;padding-left:5px;width:75px}
.right{position: relative;width: 718px;background: #FEFEFE;float: right;padding-right: 1px;padding-left: 1px;border: 1px solid #ACE;padding-top: 1px;height: 882px;*height: 992px;}
.dh{z-index:0;border-bottom:#ace 1px solid;border-left:#ace 1px solid;width:720px;background:#fefefe;float:left;height:261px;border-top:#ace 1px solid;border-right:#ace 1px solid;padding-top:5px}
.mz{width:696px;float:left;margin-left:10px;display:inline;padding:5px 0}
.mz ul li{width:116px;float:left;line-height:30px;text-align:center}
.mz ul li b{margin-left:5px;margin-right:5px}
.left,.list-b,.lb{float:left;border:1px solid #ACE;font-size:14px}
.left,.lb{width:200px;background:#F3FAFF;display:inline}
.left{padding: 4px 13px;}
.lb{border:none;background:none;width:200px;padding:0}
.rb{width:722px;float:right;margin-bottom:0;position:relative}
h2.l-n{width:100%;float:left;padding:7px 0}
h2.np{padding-top:1px;padding-bottom:6px}
.l-a{border-bottom:1px solid #DAEAFA;width:100%;float:left;padding-bottom:11px}
.none{border:none}
.l-a a{display:block;float:left;width:22%;height:14px;padding:6px 0 6px 5px}
.right h2{width: 97.2%;float: left;padding: 3px 10px;*padding:4px 10px}
.r-a{width:97%;float:left;padding:0 0 0 10px}
.bb{background:#FBFDFE}
.r-a a{display: block;width: 93px;float: left;overflow: hidden;line-height: 30px;*line-height: 34px;}
.r-a a.m{float:right;width:50px;font-size:12px;text-align:right}
#footer,.fgray{text-align:center;color:#656666;font-size:12px;margin-right:auto;margin-left:auto;padding:10px 0}
.oneline{padding-top:5px}
a.weoshop{text-decoration:none;color:#656666;font-size:12px;padding-left:13px}
a:hover.weoshop{color:#E60012;text-decoration:underline}
.aq{float:right;height:30px;width:85px;margin-top:-30px;line-height:30px;color:#178517}
.aq1{float:right;height:30px;width:250px;margin-top:-30px;line-height:30px;color:#178517}
.aq span{margin-top:5px;margin-left:10px;line-height:30px}
.btn{height:19px;width:59px;float:right}
.mail{line-height:30px;height:30px;width:100%;float:right;margin-top:5px;display:inline;height:30px;width:180px}
.mail input{float:right;height:16px;width:110px;margin-right:30px}
.g div .btn{float:right;height:19px;width:59px;margin-right:35px;border-style:none}
.nn span{font-size:14px;font-weight:400;color:#178517;float:right}
.top .logo{width:260px;float:left}
.g input{height: 16px;width: 110px;line-height: 16px;border: 1px solid #7F9DB9}
.g p{line-height:30px;height:30px;text-align:left}
.g p label{width:60px;float:left}
#inputmenu{width:175px;border:1px solid #7F9DB9;background-color:#FFF;overflow-y:hidden;margin:-2px}
.content #searchForm #searchBox .search #seBox #setUrl{display:block;width:68px;height:30px;float:left;margin:0 3px 0 0}
.content #searchForm #searchBox #web_page_words a{padding-right:10px}
.login form{font-size:12px;vertical-align:middle}
.l-b{background-color:#FFF;float:left;font-size:12px;line-height:18px;text-align:left;width:208px;border-bottom:none;height:55px;padding:8px 0 5px 18px}
#emailSelect{width:100px;border:1px solid #A5ACB2}
.taps3{height:26px;text-align:center;line-height:26px;}
.mz SPAN{width:95px;padding:0 0 0 10px}
.mz SPAN a{width:30px;display:inline}
A.iocn{padding-left:10px;background:url(../images/dian.gif) no-repeat 0 50%}
.container:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.container{zoom:1}
.linkbox{text-align:center;line-height:17px;height:24px;overflow:hidden}
.linkbox a{margin:0 10px}
#recom-area{width:958px;height:104px;margin:0 auto 5px;padding:5px 0}
.list{padding-left:11px}
.list li{line-height:26px;display:inline;float:left;height:26px;margin-right:20px;font-size:12px}
.list li.more{float:right;margin-right:10px;width:39px}
.tool-list{height:287px;overflow:hidden;background-color:#F3FAFF}
.tool-list li{
	height: 32px;
*height:30px;
overflow: hidden;
	position: relative;
	z-index: 0;
	padding-top: 3px;	
	*padding-top: 0px;
}
.line{border-bottom-width:1px;border-bottom-style:dotted;border-bottom-color:#ace}
.tool-list li span,.tool-list li a{
	height: 35px;
	line-height: 35px;
	float: left;
	display: block;
	font-size: 14px
}
.tool-list-icon{width: 35px;line-height: 35px;overflow: hidden;}
.tool-list li span.tool-list-icon img{margin-left:15px;display:block}
.tool-list li span.sy img{margin-top:8px}
.tool-list li span.tg img{margin-top:-23px}
.tool-list li span.gw img{margin-top:-54px}
.tool-list li span.cp img{margin-top:-86px}
.tool-list li span.yx img{margin-top:-117px}
.tool-list li span.dy img{margin-top:-147px}
.tool-list li span.gx img{margin-top:-178px}
.tool-list li span.dd img{margin-top:-210px}
.tool-list li span.medh img{margin-top:-87px}
.tool-list li span.cut-off{padding:0 3px}
.tool-list li a.recommend{color:#666;font-size:12px;float:right;padding-right:12px}
.tool-list li.blue a.recommend{color:#02a1c8}
.tool-list li.light-green a.recommend{color:#2fac06}
.tool-list li.light-blue a.recommend{color:#0079ff}
#menu{position:relative;overflow:visible;padding-top:5px;z-index:100000}
#menu h1{font-size:14px;line-height:28px;margin:0;padding:0}
#menu ul,#menu li{list-style:none;font-size:14px;white-space:nowrap;margin:0;padding:0}
#menu li{display:block;height:30px;position:relative}
#menu .group{font-size:12px;display:inline-block;width:50px;font-weight:700}
.leftHide{position:absolute;width:190px;line-height:30px;z-index:1}
.leftShow{position:relative;border-right-color:#fff;width:192px;background-color:#fff;line-height:25px;z-index:5;margin:0}
.rightShow{position:absolute;left:194px;background:#fff;width:500px;z-index:3;padding:5px}
.rightBack{background-color:#EEF7FF}
#menu li li,#menu li li:hover{font-size:12px;height:100%;line-height:25px;padding:5px}
#menu li li:hover{font-size:12px;margin:0}
#menu ul li a{display:inline-block;padding-left:10px}
#menu ul li a:hover{display:inline-block;padding-left:10px}
.box-line{border:2px solid #6293BE}
.side{width:724px;z-index:4;background-color:#fff;float:right}
.mynav1{width: 230px;height: 33px;_height: 28px;_padding-top:8px;line-height: 33px;border: 2px solid #6293BE;background-color: #fff;border-right:2px solid #fff;float: left;position: relative;z-index: 5;top: 290px;left: -1px}
.pop{
	width: 959px;
	height: 0;
	position: absolute;
	top: 152px;
*top: 153px;
	_top: 152px;
	z-index: 3;
	margin: 0 auto;
	padding: 0 auto
}
.pop1{padding:0 auto;margin:0 auto;width:959px;height:0px;position:absolute;top:362px;*top:363px;_top:368px;z-index:3;}

.mynav1 .tool-list-icon.medh1 img{
	margin-left: 15px;
	margin-right: 1px;
	margin-top: -5px;

}
.mynav1 .recommend{
	color: #666;
	font-size: 12px;
	float: right;
	padding-right: 17px;
margin-top: 2px;
*margin-top: -35px;
_margin-top: -26px;
}
#skin-right{float:right}
#skin-left{float:left;line-height:22px}
#skin{height:22px;width:100%;clear:both;overflow:hidden;margin:0 auto;padding:0 auto;border-bottom:#C7C7C7 1px solid;}
#skin a{font-size:12px;line-height:22px}
.skin{right:0;width:162px}
.skin div,.skin a{display:block;float:left;margin-right:5px}
.skin div{font-size: 12px;background-image: url(../images/icon/skin_opt_110815.png);background-repeat: no-repeat;background-position: 3px -78px;width: 45px;text-align: right;margin-top: 3px}
.skin a{width:12px;height:12px;margin-top:4px;overflow:hidden;cursor:pointer;outline:0;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out}
.skin a.blueC img{margin:0 0 0 -12px}
.skin a.greenC img{margin:-12px 0 0 -12px}
.skin a.orangeC img{margin:-24px 0 0 -12px}
.skin a.purpleC img{margin:-36px 0 0 -12px}
.skin a.pinkC img{margin:-48px 0 0 -12px}
.skin a.darkgreenC img{margin:-60px 0 0 -12px}
.skin a.blue img{margin:0}
.skin a.green img{margin:-12px 0 0}
.skin a.orange img{margin:-24px 0 0}
.skin a.purple img{margin:-36px 0 0}
.skin a.pink img{margin:-48px 0 0}
.skin a.darkgreen img{margin:-60px 0 0}
.skin a.selected img{margin-left:-24px}
.skin a:hover{-moz-transform:scale(1.5);-webkit-transform:scale(1.5);-o-transform:scale(1.5);transform:scale(1.5)}
.skin-trigger{z-index:1;line-height:28px;padding-left:20px;width:24px;display:block;background:url(../images/icon/skin_opt_110815.png) no-repeat 0 -71px;float:left;height:28px;color:#1a1a1a;_line-height:30px}
.skin-wrap{border-bottom:1px solid #C7C7C7;margin-top:-1px}
.hd .hd-top{position:relative;height:66px}
.skin-container{position:relative;width:960px;margin:0 auto;padding:8px 0}
.skin-tab{border-bottom:#e0e0e0 1px solid;line-height:24px;color:#b9b9b9}
.skin-tab A{color:#000;margin:0 8px}
.skin-list{width:960px;height:200px;overflow:hidden}
.skin-list UL{width:984px}
.skin-list LI{position:relative;width:140px;float:left;height:130px;margin:20px 24px 0 0}
.skin-list LI .figure{border-bottom:#b8b8b8 1px solid;border-left:#b8b8b8 1px solid;width:136px;background:#fff;height:92px;border-top:#b8b8b8 1px solid;cursor:pointer;border-right:#b8b8b8 1px solid;padding:1px}
.skin-list .detail{text-align:center;width:140px;height:32px;overflow:hidden}
.skin-list .detail EM{padding-bottom:0px; line-height:32px;padding-left:20px;background:url(../images/icon/skin_opt_110815.png) no-repeat -64px -53px;color:#4d4d4d;cursor:pointer}
.skin-list .selected EM{background:url(../images/icon/skin_opt_110815.png) no-repeat -56px -69px;font-weight:700;padding:5px 0 5px 26px}
.skin-pages{position:absolute;bottom:12px;height:18px;right:0;font-size:12px}
.skin-pages SPAN{color:#1a1a1a}
.skin-pages A{border-bottom:#ccc 1px solid;text-align:center;border-left:#ccc 1px solid;line-height:16px;display:inline;background:#f2f2f2;height:16px;color:#1a1a1a;border-top:#ccc 1px solid;border-right:#ccc 1px solid;margin:0 0 0 8px;padding:0 8px}
.skin-pages A:hover{color:#e60012;text-decoration:none}
.skin-op .btn-save{border-bottom:0;border-left:0;width:79px;background:url(../images/icon/skin_opt_110815.png) no-repeat;height:27px;border-top:0;cursor:pointer;border-right:0;margin:0 22px 0 0}
.skin-op .btn-cancel{border-bottom:0;border-left:0;width:79px;background:url(../images/icon/skin_opt_110815.png) no-repeat;height:27px;border-top:0;cursor:pointer;border-right:0;background-position:0 -27px;margin:0 22px 0 0}
.skin-op A{color:#0d6ac9;font-size:12px}
.skin-container .def-skin{z-index:3;position:absolute;top:40px;left:20px}
.ds{background-repeat: no-repeat;background-position: center;}
.tao{background-image:url(../images/tm_taobao.gif);background-repeat:no-repeat;background-position:center center;text-align:left;text-decoration:none}
.tao:hover{text-decoration:none}
.top a,span.tiaoc,span.tiaoc a{color:#656666}
.in1 span,.in2 span{float:right}
.login a,.z a{text-decoration:underline}
h2.gg span a,.h2ga,.ls,.ls a,a.gr{color:#178517}
h2.gg span a:hover,.ls a:hover,.right h2 a:hover,a.cRed,a:hover.gr,.l-b a:hover,.tool-list li span a:hover,.tool-list li .recommend:hover,#menu a.hover{color:#E60012}
.g,.j,.z form,input{font-size:12px}
input.zkj,input.ab,.skin-op{text-align:center}
.r-a a.green,.inp3{width:80px}
#recom-area .list LI A:hover,#recom-area .list LI.list-title A.red,.skin-op A:hover{color:#e60012}
.tool-list li.orange a.recommend,.skin-pages EM{color:#f60}
.rightHide,.inner-hide .skin-container{display:none}
#menu li:hover ul,#menu .hover1 ul,.skin-container{display:block}
.hd .hd-bottom,.tabs,.tabs-box{position:relative}
.skin-tab A:hover,.skin-tab .current{color:#ff6000;font-weight:700}
.skin-list LI .figure-hover,.skin-list LI.selected .figure{border:#ff9e58 1px solid}
img, input, select, button{vertical-align:middle;} 
.lb-img {float: left;width: 12px;padding-top:2px;}
.lpic{_margin-top:6px;}

